.container {
    margin: auto;
    width: 50%;
    border: 3px solid #f1f1f1;
    padding: 20px;
    margin-top: 40px;
    font-size: 25px;
    color: white;
    background-color: rgba(0, 0, 0, 0.689);
    border: 3px solid gray;
}

input[type=number] {
    width: 20%;
    padding: 12px 20px;
    margin: 20px 0;
    box-sizing: border-box;
    background-color: rgb(178, 178, 178);
    border-bottom: 3px solid rgb(255, 255, 0);
    border-radius: 10px;
}

button {
    background-color: rgb(166, 166, 0); 
    color: black;
    font-size: 25px;
    border-radius: 10px;
    padding: 14px 20px;
    margin-left: 250px;
    border: none;
    cursor: pointer;
    width: 35%;
    text-align: center;
    margin-top: 20px;
}

.change {
    font-size: 35px;
    text-align: center;
    color: rgb(149, 0, 0);
    border: 3px solid gray;
    background-color: gray;
    border-radius: 10px;
    border-bottom: 3px solid rgb(255, 255, 0);
    width: 65%;
    margin-left: 130px;
    margin-top: 40px;

}

button:hover {
    opacity: 0.8;
}

body {
    background-image: url(background.jpg);
    background-size: 600px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.logo img {
    width: 230px;
}

@media only screen and (max-width: 767px) {

    .container {
        margin: auto;
        width: 70%;
        border: 3px solid #f1f1f1;
        padding: 20px;
        margin-top: 40px;
        font-size: 25px;
        color: white;
        background-color: rgba(0, 0, 0, 0.689);
        border: 3px solid gray;
    }
    
    input[type=number] {
        width: 30%;
        padding: 12px 20px;
        margin: 20px 0;
        box-sizing: border-box;
        background-color: rgb(178, 178, 178);
        border-bottom: 3px solid rgb(255, 255, 0);
        border-radius: 10px;
    }
    
    button {
        background-color: rgb(166, 166, 0); 
        color: black;
        font-size: 20px;
        border-radius: 10px;
        padding: 14px 20px;
        margin-left: 70px;
        border: none;
        cursor: pointer;
        width: 60%;
        text-align: center;
        margin-top: 20px;
    }
    
    .change {
        font-size: 30px;
        text-align: center;
        color: rgb(149, 0, 0);
        border: 3px solid gray;
        background-color: gray;
        border-radius: 10px;
        border-bottom: 3px solid rgb(255, 255, 0);
        width: 80%;
        margin-left: 30px;
        margin-top: 40px;
    
    }
    
    button:hover {
        opacity: 0.8;
    }
    
    body {
        background-image: url(background.jpg);
        background-size: 450px;
    }
    
    .logo {
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }
    
    .logo img {
        width: 150px;
    }

  }
  


